{% extends 'base.html' %}
{% block title %}ALL MOVIES{% endblock %}

{% block content %}
<h1>ALL MOVIES</h1>
<div class="container">
<div class="row">
  {% for i in movies %}
<div class="col-4"><br>
  <div class="card" style="width: 18rem;">
  <img src="{{i.poster.url}}" class="card-img-top" style="height: 350px;" alt="...">
  <div class="card-body">
    <div style="background-color:#1DF0E7;">
      <b>{{i.category.category}} </b>
    </div>

    <h5 class="card-title">{{i.movie}}</h5>
    <p class="card-text">{{i.release_date}}</p>
    <a href="" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>

</div>

{% endfor %}

</div>
</div>

{% endblock %}