



{% endblock %}

<!--    <div>-->
<!--        <div>-->
<!--            <img src="{{movie.poster.url}}" alt="{{movie.title}}">-->
<!--        </div>-->
<!--    </div>-->
<!--<div>-->
<!--    <div>-->
<!--        <h1>{{movie.title}}</h1>-->
<!--        <h4>{{movie.description}}</h4>-->
<!--        <h4>{{movie.releasedate}}</h4>-->
<!--        <h4>{{movie.actors}}</h4>-->
<!--        <h4>{{movie.category}}</h4>-->
<!--        <h4>{{movie.slug}}</h4>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}