{% extends 'base.html' %}


{% block content %}
  <h2 class="text center">Search Results</h2>
   <hr>

<div class="container"><br>
<div class="row"><br>

   {% if products %}
  {% for i in products %}
   <div class="col-4"><br>
     <div class="card" style="width: 18rem;">
     <img src="{{i.poster.url}}" class="card-img-top" alt="...">
     <div class="card-body">
       <div style="background-color:#1DF0E7;">
         <b>{{i.category.category}} </b>
       </div>

       <h5 class="card-title">{{i.movie}}</h5>
       <p class="card-text">{{i.release_date}}</p>
       <a href="{% url 'product' i.id %}" class="btn btn-primary">Details</a><br>
     </div>
     </div>
   </div>

{% endfor %}
    {% else %}
      <p>No Products</p>
    {% endif %}

</div>
</div>


{% endblock %}